# 코딩테스트를 위한 Python 기초 문법

### 정수형(integer)

In [1]:
a = 1000
print(a)
a = -7
print(a)
a = 0
print(a)

1000
-7
0

### 실수형(real number)

In [2]:
a = 157.93
print(a)
a = -1837.2
print(a)
a = 5.
print(a)
a = -.7
print(a)

157.93
-1837.2
5.0
-0.7

In [3]:
# 지수 표현
a = 1e9
print(a)
a = 75.25e1
print(a)
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

In [4]:
# 부동소수
a = 0.3 + 0.6
print(a)

if a == 0.9:
    print('True')
else:
    print('False')

0.8999999999999999
False

In [5]:
# round
a = 0.3 + 0.6
print(round(a, 4))

if round(a, 4) == 0.9:
    print('True')
else:
    print('False')

0.9
True

### 수 자료형 연산

In [6]:
# 사칙연산
a = 7
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) # 나누기 몫
print(a //b) # 나누기 나머지
print(a ** b) # 제곱근

10
4
21
2.3333333333333335
1
2
343

### 리스트(list)

In [7]:
# 리스트 만들기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(a[4])

# 빈 리스트 만들기 1
a = []
print(a)

# 빈 리스트 만들기 2
a = list()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [8]:
# 리스트 초기화
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
# 리스트 인덱싱
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[-1])
print(a[-3])
a[3] = 7
print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [10]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[1 : 4])

[2, 3, 4]

In [11]:
# 리스트 컴프리헨션
# 0 ~ 19까지의 수 중 홀수만 출력
arr = [i for i in range(20) if i % 2 == 1]
print(arr)

# 1 ~ 9까지의 수의 제곱 값을 출력
arr = [i * i for i in range(1, 10)]
print(arr)

# n x m 크기의 2차원 리스트 초기화
n = 3
m = 3
arr = [[0]* m for _ in range(n)] # 언더바(_)는 반복을 위한 변수값을 무시한다.
print(arr)

# 잘못된 리스트 초기화
# 아래와 같은 실수를 방지하기 위해 리스트 컴프리헨션 추천
n = 3
m = 3
arr = [[0] * m] * n
print(arr)
arr[1][1] = 5
print(arr)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0]]

In [12]:
# 리스트의 여러가지 method
a = [1, 4, 3]

# 시간복잡도 O(1)
a.append(2)
print("삽입 : ", a)

# 시간복잡도 O(NlogN)
a.sort()
print("a 오름차순 정렬 : ", a)

a.sort(reverse = True)
print("a 내림차순 정렬 : ", a)

# 시간복잡도 O(N)
a.reverse()
print("a의  원소 뒤집기 : ", a)

a.insert(2, 3)
print("인덱스 2에 3 추가 : ", a)

print("값이 3인 데이터 갯수 세기 : ", a.count(3))

a.remove(1)
print("값이 1인 데이터 삭제 : ", a)

# 시간복잡도가 O(N)인 remove를 append 처럼 쓰는 법
# 결국 리스트 컴프리헨션
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = [3, 5]

result = [i for i in a if i not in remove_set]
print(result)

삽입 :  [1, 4, 3, 2]
a 오름차순 정렬 :  [1, 2, 3, 4]
a 내림차순 정렬 :  [4, 3, 2, 1]
a의  원소 뒤집기 :  [1, 2, 3, 4]
인덱스 2에 3 추가 :  [1, 2, 3, 3, 4]
값이 3인 데이터 갯수 세기 :  2
값이 1인 데이터 삭제 :  [2, 3, 3, 4]
[1, 2, 4]

### 문자열

In [13]:
# 문자열 초기화
data = 'Don`t you know \"Python\"?'
print(data)

Don`t you know "Python"?

In [14]:
# 문자열 연산
a = 'Hello'
b = 'World'
print(a + ' ' + b)

Hello World

In [15]:
# 문자열 연산 2
a = 'String'
print(a * 3)

StringStringString

In [16]:
# 문자열 연산3
# 문자열은 리스트와 같이 처리됨!!
a = 'ABCDEF'
print(a[3])

D

### 튜플

In [17]:
# 튜플은 값 변경 불가
# 튜플은 () 소괄호
# 튜플 공간복잡도 < 리스트 공간복잡도
# 다익스트라 최단 경로 알고리즘에서는 '비용' & '노드번호'라는 
# 서로 다른 성질의 데이터를 튜플로 묶어서 관리한다.
a = (1, 2, 3, 4)
a[2] = 5

print(a)

TypeError: 'tuple' object does not support item assignment

### 딕셔너리

In [18]:
# 딕셔너리는 데이터 검색 및 수정에 있어서 O(!)의 시간에 처리할 수 있다.
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [19]:
# 존재하는 지 검사
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

if '사과' in data:
    print('"사과"를 key로 가지는 데이터가 존재합니다.')

"사과"를 key로 가지는 데이터가 존재합니다.

In [20]:
# 딕셔너리 관련 함수
key = data.keys()
value = data.values()
print(key, value)

for key in key:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛']) dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

### 집합 자료형 (set)

In [21]:
# set 자료 초기화 방법
# set : 중복 허용 x, 순서 x
data = set([1, 1, 2, 3, 4, 4, 5])
print(data)

data1 = {1, 1, 2, 3, 4, 4, 5}
print(data1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [22]:
# 집합 자료형의 연산
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

print(a | b)
print(a & b)
print(a - b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [23]:
# 집합 자료형 관련 함수
# add, remove 는 시간복잡도 O(1)
data = {1, 2, 3}
print(data)

data.add(4)
print(data)

data.update([5, 6])
print(data)

data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

### 조건문

In [24]:
x = 15

if x >= 10:
    print(x)

15

In [25]:
score = 85

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

B

##### 조건문 비교연산자
- X == Y : X와 Y가 서로 같을 때 참(True)이다.
- X != Y : X와 Y가 서로 다를 때 참(True)이다.
- X > Y : X가 Y보다 클 때 참(True)이다.
- X < Y : X가 Y보다 작을 때 참(True)이다.
- X >= Y : X가 Y보다 크거나 같을 때 참(True)이다.
- X <= Y : X가 Y보다 작거나 같을 때 참(True)이다.

##### 조건문 논리 연산자
- X and Y : X와 Y가 모두 참(True)일 때 참(True)이다.
- X or Y : X와 Y 중에 하나만 참(True)이어도 참(True)이다.
- not X : X가 거짓(False)일 때 참(True)이다.

##### 파이썬 기타 연산자
- X in 리스트 : 리스트 안에 X가 들어있으면 참(True)이다.
- X not in 문자열 : 문자열 안에 X가 들어있지 않을 때 참(True)이다.

In [26]:
# 조건문 pass
score = 85

if score >= 80:
    pass
else:
    print('성적이 80점 미만입니다.')
    
print('프로그램을 종료합니다.')

프로그램을 종료합니다.

In [27]:
# 조건문 스킬
score = 85

if score >= 80: result = "Success"
else: result = "Fail"
    
print(result)

Success

In [28]:
# 조건문 스킬 2
score = 85

result = 'Success' if score >= 80 else "Fail"

print(result)

Success

### 반복문

In [29]:
# while 문
i = 1
result = 0

while i <= 9:
    result += i
    i += 1

print(result)

45

In [30]:
# while 문 2
i = 1
result = 0

while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

In [31]:
# for 문
result = 0

for i in range(1, 10):
    result += i
    
print(result)

45

In [32]:
# for 문 2
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, '번 학생은 합격입니다.')

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [33]:
# for 문 3
cheating_list = {2, 4}

for i in range(5):
    if i + 1 in cheating_list:
        continue
    if scores[i] > 80:
        print(i + 1, '번 학생은 합격입니다.')

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [35]:
# for 문 4
for i in range(1, 10):
    for j in range(1, 10):
        print(i, 'X', j, '=', i * j)
    print()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### 함수

In [36]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [37]:
def add(a, b):
    print(a + b)

add(3, 7)

10

In [38]:
add(b = 7, a = 3)

10

In [46]:
# 함수 밖에서 접근하기
a = 0

def func():
    global a
    a += 1

for i in range(10):
    func()

print(a)

10

In [47]:
# 람다
add(3, 7)

10

In [48]:
print((lambda a, b : a + b)(3, 7))

10

### 입력
- input()
- map(int, input(),split())
- sys.stdin.readline()

In [60]:
# 전형적인 소스코드
n = input()
data = list(map(int, input().split()))

data.reverse()
print(data)

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 34, 75, 90, 65]
[99, 90, 75, 65, 34]

In [61]:
# 입력할 정수의 갯수를 알 때
a, b, c = map(int, input().split())

print(a, b, c)

3 5 7
3 5 7

In [64]:
# sys.readline()
import sys

data = sys.stdin.readline().rstrip()
print(data)

### 출력

In [65]:
# 공백 출력
print(a, b)

3 5

In [66]:
# 줄 바꿈
print(a)
print(b)

3
5

In [69]:
# 변수를 문자열로
answer = 7

print(f'정답은 {answer}입니다.')
print('정답은 %d입니다.'%answer)
print('정답은 ' + str(answer) + '입니다.')

정답은 7입니다.
정답은 7입니다.
정답은 7입니다.

### 라이브러리

In [80]:
# 내장함수
a = [1, 2, 3, 4, 5]

print(sum(a))
print(min(a))
print(max(a))
print(eval('(3 + 5) * 7'))

15
1
5
56

In [86]:
# 오름차순
print(sorted(a))
# 내림차순
print(sorted(a, reverse = True))
# 리스트 오름차순
a.sort()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [85]:
# 리스트 내의 튜플 내림차순
result = sorted([('홍길동', 35), ('이순신', 75), ('아무개', 50)], key = lambda x: x[1], reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

### itertools

In [94]:
# permutations
# 튜플 내 중복 불가, 순서 상관 x
from itertools import permutations
data = ['A', 'B', 'C']
result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [89]:
# combinations
# 튜플 내 중복 불가, 순서 상관 o
from itertools import combinations
result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [92]:
# product
# 튜플 내 중복 가능, 순서 상관 x
from itertools import product
result = list(product(data, repeat = 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [95]:
# combinations_with_replacement
# 튜플 내 중복 가능, 순서 상관 o
from itertools import combinations_with_replacement
result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]